/** UNecessary because of bootstrap.css ***/

input.form-control {
    width: 200px;
}

table th, table td {
    border-width: 1px;
    border-style: solid;
}

/*************/

.display_none {
    display: none;
}

.message {
    position: absolute;
    right: 20px;
}

.loading-block {
    font-size: 16pt;
    position: absolute;
    left: 47%;
}

.navigation-buttons {
    margin-top: 40px;
}

.navigation-buttons a {
    width: 150px;
}

h3.why-answer {
    margin-top: 40px;
}

pre.how-code {
    text-align: left;
    width: 700px;
    margin: auto;
}

.how-section {
    height: 160%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.download-section {
    height: 200%;
    padding-top: 30px;
    text-align: center;
    background: #eee;
}

#control-panel {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    right: 30px;
    border-style: solid;
    border-width: 1px;
}