/** UNecessary because of bootstrap.css ***/

input.form-control {
    width: 200px;
}

table th, table td {
    border-width: 1px;
    border-style: solid;
}

/*************/

.display_none {
    display: none;
}

.message {
    position: absolute;
    right: 20px;
}

.loading-block {
    font-size: 16pt;
    position: absolute;
    left: 47%;
}

.content {
    display: inline-block;
}

#control-panel {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    right: 30px;
    border-style: solid;
    border-width: 1px;
}

/** MENU **/

.menu {
    display: inline-block;
    vertical-align: top;
    margin: 10px 30px 0 10px;
}