#qunit-developer-panel {
    display: inline-block;
    width: 49%;
    height: 100%;
    min-height: 300px;
    vertical-align: top;
    margin-left: 10px;
    float: right;
}

#qunit-developer-panel .step {
    margin-top: 10px;
    padding: 10px;
    border-style: dashed;
    border-width: 1px;
    border-color: #CCCCCC;
    font-family: monospace;
    font-size: 13px;
}

#qunit-developer-panel .currentExecutingStep {
    background-color: #DDFFDD;
    border-color: black;
}

#qunit-developer-panel .new-step-panel textarea {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    font-family: monospace;
    font-size: 13px;
}